ALTER PROCEDURE sp_Product_Delete
    @ProductID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Products WHERE ProductID = @ProductID)
    BEGIN
        RAISERROR(N'San pham khong ton tai!', 16, 1);
        RETURN;
    END

    -- Check if product exists in OrderDetails
    IF EXISTS (SELECT 1 FROM OrderDetails WHERE ProductID = @ProductID)
    BEGIN
        -- PRODUCT HAS BEEN ORDERED: Soft Delete only
        BEGIN TRY
            BEGIN TRANSACTION;
            
            UPDATE Products
            SET IsActive = 0,
                UpdatedAt = GETDATE()
            WHERE ProductID = @ProductID;

            COMMIT TRANSACTION;
            SELECT @ProductID AS DeletedProductID;
        END TRY
        BEGIN CATCH
            IF @@TRANCOUNT > 0
                ROLLBACK TRANSACTION;
            THROW;
        END CATCH
    END
    ELSE
    BEGIN
        -- PRODUCT HAS NEVER BEEN ORDERED: Hard Delete
        BEGIN TRY
            BEGIN TRANSACTION;

            -- Delete from dependent tables first
            DELETE FROM Cart WHERE ProductID = @ProductID;
            DELETE FROM ProductAttributes WHERE ProductID = @ProductID;
            DELETE FROM PriceHistories WHERE ProductID = @ProductID;
            DELETE FROM ProductRecommendations WHERE SourceProductID = @ProductID OR RecommendedProductID = @ProductID;
            DELETE FROM ProductImages WHERE ProductID = @ProductID;
            DELETE FROM ProductPromotions WHERE ProductID = @ProductID;
            DELETE FROM ProductWarranties WHERE ProductID = @ProductID;
            DELETE FROM InventoryLog WHERE ProductID = @ProductID;
            DELETE FROM Reviews WHERE ProductID = @ProductID;

            -- Finally delete the product
            DELETE FROM Products WHERE ProductID = @ProductID;

            COMMIT TRANSACTION;
            SELECT @ProductID AS DeletedProductID;
        END TRY
        BEGIN CATCH
            IF @@TRANCOUNT > 0
                ROLLBACK TRANSACTION;
            THROW;
        END CATCH
    END
END;
